* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
}

nav {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 0vw 5.083vw 0.083vw;
    position: relative;  
    transform:skew(-10deg,0deg);
    list-style: none;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Staatliches', cursive, sans-serif;
    font-size: 4.5vw;  
    font-style:oblique;
    font-weight: normal;    
    text-transform: none;
    line-height: normal;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;   

}


nav ul li ul {
    position: absolute;
    display: none;
}

nav ul li ul li {
    display: block;
    background-color: white;
    transform:translate(-30px,0);
    list-style: none;

}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover {
    background-color: white;
    color:salmon;
}

nav ul li:active {
    background-color: black;
}


.pseudo:hover {
    color:black;
}

.liMore {
    padding: 0px;    
}

.more {
    color: rgb(14, 13, 13);
    text-decoration: none;
    padding: 0 1.563vw 0vw;
    font-size: 2vw;
    
}

.pc {
    width:60%;
    position:relative;
    top: 15px;
}   

.pcHome {
    width:60%;
   
}

.pcWidth {
   width:10%;
}

.pcWidthHome {
   width:20%;
}

.pcWidthGigs {
   width:20%;
}

.pcGigs {
   width: 60%;
}



/*
.mas {font-family: 'Staatliches', cursive, sans-serif;
    font-size: 4.375vw;  
    margin-top: 2vw;
    color:black;
    text-decoration: none;
    font-style:oblique;    
    background: linear-gradient(to bottom left, rgba(255,255,255,0),  rgba(255,255,255,0), rgba(255,255,255,1));

}*/

.gigs {font-family: 'Staatliches', cursive, sans-serif;
    font-size: 4.375vw;  
    margin-top: 2vw;
    color:white;
    font-weight: normal;
    text-decoration: none;
    font-style:oblique; 
}


.gigsContainer {

    background: linear-gradient(to bottom left, black 0%, black 70%, white 100%);
    height: 100%;
    width:12%;
    transition:width 2s;
}

.gigsContainer:hover {
    width:80%;
}

.bio {font-family: 'Staatliches', cursive, sans-serif;
    font-size: 4.375vw;  
    margin-top: 2vw;
    color:white;
    font-weight: normal;
    text-decoration: none;
    font-style:oblique; 
}


.bioContainer {

    background: linear-gradient(to bottom left, black 0%, black 70%, white 100%);
    height: 100%;
    width:12%;
    transition:width 2s;
}

.bioContainer:hover {
    width:80%;
}

.padreFlex {
    display: flex;
    flex-direction: column;
}
    

.parrafosFlex {
    
    position: relative;
    text-align: justify;
    text-align: center;
    flex-basis:25%;
}
 
.parrafoIndex {
    color: white;
    font-size: 1.250vw;  
    font-family:'Roboto Mono', monospace;
    padding: 1.042vw 1.042vw;
    
    position: relative;
    top:25%;
}

.parrafoIndex2 {
    color: white;
    font-size: 1.250vw;  
    font-family: 'Nunito Sans', sans-serif;
    text-align:justify;
    padding: 1.042vw 1.042vw;  
    text-align: justify;
    position: relative;
    top:25%;    
}

/* La imagen que tenía antes estaba con estos valores que 
aun no los pude pasar bien al carousel

.fotoIndex {
    width:100%;
    height: 37.500vw;
    object-fit:cover;
} */



.fotoIndex2 {
    width:100%; 
    object-fit: cover;
   
}

.fotoBio {
    width:55%;
    height: 100%;
}

.aboutFlex {
    display: flex;
    flex-direction: row;
    
}

.parrafoAbout {
    color: white;
    font-size: 1.250vw;  
    font-family: 'Roboto Mono', monospace;
    text-align:left;
    padding: 3.125vw;
    width: 30%;
    position: relative;
    left: 5%;
}


.showsFlex {
    display: flex;
    flex-direction: row;
    
}

.columnaShows {
    display: flex;
    flex-direction: column;    
}

.parrafoShows {
    color: white;
    font-size: 1.250vw;  
    font-family: 'Nunito Sans', sans-serif;
    text-align:justify;
    position: relative;
    top:5%;
    padding:0 10%;
}

.foto1 {
    width:66.667vw;
    height: 37.500vw;
}

.foto2 {
    width:41.049vw;
    object-fit: cover;
    position: relative;
    top:30%;

   
}

.foto3 {
    width:100%;
    height: 37.500vw;
    object-fit: cover;
    position:absolute;
    z-index: 3;
}

.videoTaller {
    position:absolute;
    left:15%;
    align-content: center;
    
}

.parrafoWorks {
    color: white;
    font-size: 1.250vw;  
    font-family: 'Nunito Sans', sans-serif;
    text-align:justify;
    position: relative;
    left:25%;
    width: 50%;
}

.redesFlex {
    display: flex;
    justify-content: flex-end;
}

.mail {
    width: 50px;  
}

.ig {
    width: 50px;    
}

.fb {
    width: 50px;   
}

.wp {
    width: 50px;  
}

.mailContact {
    position:relative;
    left:550px;
}

.igContact {
    position:relative;
    left:550px;
}

.fbContact {
    position:relative;
    left:550px;
}

.wpContact {
    position:relative;
    left:550px;
}


.redesSociales {
    padding: 80px;
    border: 2px solid whitesmoke
}




