.BioFlex {
    display: flex;
    flex-direction: row;

    .fotoBio {
        width: 45%;
        
    }

    .parrafoBioContainer {
        display: flex;
        flex-direction: column;
        text-align: justify;
        
        
        

        .parrafoBio {
            color: white;
            font-size: 1vw;  
            font-family: 'Roboto Mono', monospace;
            text-align: justify;
            padding: 0.125vw;
            width: 45%;
            position: relative;
            left: 5%;
            text-justify:inter-cluster;
        }

        .parrafoBiodos {
            color: white;
            font-size: 1vw;  
            font-family: 'Roboto Mono', monospace;
            text-align: justify;
            padding: 0.125vw;
            width: 45%;
            position: relative;
            left: 5%;
            
        }
    
         .parrafoBiotres {
            color: white;
            font-size: 1vw;  
            font-family: 'Roboto Mono', monospace;
            text-align: justify;
            padding: 0.125vw;
            width: 45%;
            position: relative;
            left: 5%;
            
        }
    







    }
    
}