.aboutFlex {
    display: flex;
    flex-direction: row;

    .fotoBio {
        width:55%;
        height: 100%;
    }

    .parrafoAbout {
        color: white;
        font-size: 1.250vw;  
        font-family: 'Roboto Mono', monospace;
        text-align:left;
        padding: 3.125vw;
        width: 30%;
        position: relative;
        left: 5%;
    }


    
}