//Footer//
    
    .redesFlex {
    display: flex;
    justify-content: flex-end;

    a .mail {
        width: 50px;  
    }

    a .ig {
        width: 50px;    
    }


    a .wp {
        width: 50px;  
    }
    
}



