.mb-4 {
    margin-left:-25px;
    margin-right:-30px;
}

.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1em;
    font-family:'Roboto Mono', monospace;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }
  
  .imagebox:hover img {
    opacity: 0.7;
  }
  
  .imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
  }

  .container-link-fotografa {
    font-family:'Roboto Mono', monospace;
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: center;
  }

  .link-fotografa {
    font-family:'Roboto Mono', monospace;
    font-size: 1em;
    color: white;
    font-weight: bold;
    
    &:hover {
        color:violet;
    }
    

  }





