nav {
    text-align: center;
    

    ul li {
        display: inline-block;
        padding: 0vw 5.083vw 0.083vw;
        transform:skew(-5deg,0deg);
        list-style: none;
        

        &:hover {
            background-color: white;
            
        }

        &:hover ul {
            display: block;
        }

        &:active {
            background-color: black;
        }
    

        a {
            color: white;
            text-decoration: none;
            font-family: 'Staatliches', cursive, sans-serif;
            font-size: 4.5vw;  
            font-style:oblique;
            font-weight: normal;    
            text-transform: none;
            line-height: normal;
            text-decoration: none;
            letter-spacing: normal;
            word-spacing: normal;   
            
        }

        .pseudo {
            &:hover {
                color:black;
            }
        }

        ul {
            position: absolute;
            display: none;
            

            li {
                display: block;
                background-color: white;
                transform:translate(-20px,2px);
                list-style: none;
                

                &:hover {
                    background-color: black;

                   
                }

               
            
            }

            .liMore {
                padding: 0px;
                
                

                .more {
                    color: rgb(14, 13, 13);
                    text-decoration: none;
                    padding: 0 1.563vw 0vw;
                    font-size: 2vw;

                    &:hover {
                        color:white;
                    }

                   
                    
                }
            }


        }
      
        
        
    }

    .pcWidth {
        width:20%;

        .pc {
            width:60%;
            
            &:hover {
                color:black;
            }
           
        }
    }
}

.pseudo {
    display:inline-block;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}






  
