.videoTaller {
    position:absolute;
    left:15%;
    align-content: center;
    
}

.parrafoWorks {
    color: white;
    font-size: 1.250vw;  
    font-family: 'Nunito Sans', sans-serif;
    text-align:justify;
    position: relative;
    left:25%;
    width: 50%;
}