.redesSociales {
    padding: 80px;
    border: 2px solid whitesmoke;

    .mailContact {
        position:relative;
        left:550px;
    }

    .igContact {
        position:relative;
        left:550px;
    }
    
    .fbContact {
        position:relative;
        left:550px;
    }
    
    .wpContact {
        position:relative;
        left:550px;
    }




}
